<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="dist/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
 	<title>Calendar</title>
</head>

<body>
	<main>
		<header>
			<ul>
				<li><img src="img/profile.svg"></li>
				<li>Heleen</li>
			</ul>
		</header>
		<div class="month">
			<h1>Calendar</h1>
			<hr>
			<ul>
				<li><span id="prevMonth"><</span></li>
				<li><h2><span id="monthName"></span>2016</h2></li>
				<li><span id="nextMonth">></span></li>
			</ul>	
		</div>

		<div class="month-weekdays">
			<span>Sun</span>
			<span>Ma</span>
			<span>Tue</span>
			<span>Wed</span>
			<span>Thu</span>
			<span>Fri</span>
			<span>Sat</span>
		</div>
		
		<form class="agenda_content" action="/" method="post">
		
			<div class="agenda">
				<ul class="agenda_dates active">
					<li></li>
					<li></li>
					<% dates.forEach(function(date) { %>
				
					<!-- <%- date.amountOfBookings %> -->						
						<% if(date.amountOfBookings == 0) { %>
							<li class="is--available">
								<input id="<%- date.date %>" class="day" type="checkbox" name="dates" value="<%- date.date %>">
								<label for="<%- date.date %>">
									<span class="<%- date.class %>"><%- date.day %></span>
								</label>
							</li>						

						<% } else if(date.amountOfBookings > 0 && date.amountOfBookings <= 14) { %>
							<li class="is--booked">
								<input id="<%- date.date %>" class="day" type="checkbox" name="dates" value="<%- date.date %>" >
								<label for="<%- date.date %>">
									<span class="<%- date.class %>"><%- date.day %></span>
								</label>
							</li>

						<% } else { %>
							<li class="is--full">
								<input id="<%- date.date %>" class="day" type="checkbox" name="dates" value="<%- date.date %>" disabled>
								<label for="<%- date.date %>">
									<span class="<%- date.class %>"><%- date.day %></span>
								</label>
							</li>
						<% } %>
					
					<% }); %>	
				</ul>
			</div>
			<section class="information">	
				<ul>
					<li class="orange">Working at home</li>
					<li class="green">At office</li>
				</ul>
			</section>
				  						    
			<div class="bookDeskToolBar">
			    <span class="checkmark bookCheckmark hide"></span>
			    <input class="booked  button" name="book" type="submit" value="Book">
			    <span class="checkmark removeCheckmark hide"></span>
				<input class="remove button" name="remove" type="submit" value="Remove"> <!-- fade-in  -->
			</div> 
		</form>

    	<div class="notification_toMany hide" id="js-timer2">
	        <div class="message-icon">
	          <span><img src="img/attention.svg" alt="attention_image"></span>
	        </div>
	        <div class="message-body">
	          <p>Oops..</p>
	          <br/>
	          <p>You can only book five dates in two weeks</p>
	        </div>
	        <button class="message-close  js-messageClose"><span class="cross"></span></button>
		</div>

	</main>
<!-- 	<script>
		// https://www.youtube.com/watch?v=zbMJtxDD-4I
		var cutsTheMustard = ('querySelector' in document && 'addEventListener' in window)
		var js; 

		if(cutsTheMustard) {
			js = document.createElement('script');
			js.src = '/javascripts/script.js';
			js.async = true; 
			document.querySelector('script').parentNode.appendChild(js);
		}
	</script> -->
	<script src="dist/script.js"></script>
<!-- 	<script src="javascripts/script.js"></script>
 -->	
 </body>	
</html>